body{
    --text-color: black;
    color: var(--text-color);
}


body.dark{
    --element-color: hsl(209, 23%, 22%);
    --background-color:hsl(207, 26%, 17%);
    --text-color: white;
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn-container{
    margin-block: 50px 0;
    max-width: 1290px;
    margin-inline: auto;
    color: var(--text-color);
}

.btn-container i{
    font-size: 15px;
    margin-right: 10px;
}
.btn-container button{
    color: inherit;
    background-color: var(--element-color);
    font-size: 15px;
    padding: 10px 40px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-container button:hover{
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);

}

.profile-container{
    padding-block: 50px 100px;
    max-width: 1290px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    color: var(--text-color);
}

.profile-container .profile-img{
    max-width: 45%;
}

.profile-container .profile-img img{
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.profile-info-container{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-title{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-title h1{
    margin-bottom: 15px;
    font-weight: 800;
}

.profile-other{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 80px;
}

.profile-other .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-border-country{
    margin-top: 30px;
}

.profile-border-country .border-aHref{
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    min-width: 100px;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    margin: 5px;
    background-color: var(--element-color);
    font-weight: 600;
    opacity: 0.8;
    cursor: pointer;
}
.profile-border-country .border-aHref:hover{
    background-color: var(--element-color);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    opacity: 1;
}






@media (max-width:750px){
    .btn-container{
        margin-block: 20px 0;
    }
    
    .btn-container i{
        font-size: 12px;
    }
    .btn-container button{
        font-size: 12px;
        padding: 5px 20px;
    }

    .profile-container{
        padding-block: 30px 100px;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }

    
.profile-container .profile-img{
    max-width: 100%;
    padding-inline: 10px;
}

.profile-container .profile-img img{
    width: 100%;
    border-radius: 5px;
}

.profile-info-container{
    width: 100%;
    padding-inline: 10px;
}

.profile-title{
    width: 100%;
}

.profile-title h1{
    margin-inline: auto;
    font-size: 25px;
}

.profile-other .info{
    font-size: 12px;
}

.profile-border-country{
    margin-top: 30px;
    font-size: 12px;
}

.profile-border-country button{
    font-size: 10px;
}
    
}